<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c1537527-c126-428d-8f72-1ac9f2c63c1f/resourceGroups/codit-appservice-reverseproxy/providers/Microsoft.ContainerRegistry/registries/coditproxyregistry</ResourceId>
    <ResourceName>coditproxyregistry</ResourceName>
    <ResourceGroup>codit-appservice-reverseproxy</ResourceGroup>
    <Subscription>R &amp; D Codit</Subscription>
    <RegistryUrl>https://coditproxyregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9fddd361-9b50-47ab-9be9-568fe235a1c3</ProjectGuid>
  </PropertyGroup>
</Project>